*
!.gitignore
!*.md
!LICENSE
!vimrc*
!docker/
!docker/**
!lecture/
!docs/
!assets/
!assets/demo.gif
!*.lua
!*.sh
!Dockerfile*
!.luarc.json
!.github/
!.github/**
!/src
!*.pdf
docker/out/
docker/**/*.old.*
